#containers-prop {
    display: flex;
    justify-content: center;
  }
  
  #main-box {
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  #add-button-1 {
    margin-bottom: 10px;
    background-color: #3c7fcb;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 85%;
  }
  
  #add_button {
    background-color: #3c7fcb;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  input,
  textarea {
    width: 50%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }
  
  textarea {
    height: 150px;
  }
  
  #images {
    display: block;
    margin-bottom: 10px;
  }
  
  #images::-webkit-file-upload-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  #event_name{
    display: block;
    width: 40%;
    
    border-color: rgb(85, 147, 206);
  }

  #event_place{
    display: block;
    width: 17%;
    border-color: rgb(85, 147, 206);
    
  }

  #prop_label{
    margin-left: 50%;
    margin-top: -10%;
  }
  #proposal_type{
    display: block;
    width: 17%;
    margin-left: 22%;
    margin-top: -6%;
    border-color: rgb(85, 147, 206);
  }
  #event_type{
    display: block;
    
    border-color: rgb(85, 147, 206);
  }
  #event_class{
    display: block;
    
    border-color: rgb(85, 147, 206);
  }
  #budget{
    display: block;
    
    border-color: rgb(85, 147, 206);
  }
  #from_date{
    display: block;
    
    border-color: rgb(85, 147, 206);
  }
  #to_date{
    display: block;
    
    border-color: rgb(85, 147, 206);
  }
  
  #description{
    display: block;
    
    border-color: rgb(85, 147, 206);
  }
  
  #food_preferences{
    display: block;
    
    border-color: rgb(85, 147, 206);
  }
  
  #events{
    display: block;
    
    border-color: rgb(85, 147, 206);
  }
  
  
  #images{
    display: block;
    
    border-color: rgb(85, 147, 206);
  }