/*  */
  .allproposals {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* creates 3 equal columns */
    grid-gap: 8px; /* adds gap between the columns */
  }
  
  
  #ven-details {
    display: flex;
    flex-direction: column;
   
    padding: 20px;
    background-color: #f2f2f2;
    text-align: justify;
    margin-top: 0;
    height: 100%;
    width: 62%;
  }
  
  #main-ig {
    display: flex;
    align-items: center;
  }
  
  #ven-img {
    margin-right: 0;
  }
  
  #img {
    max-width: 300px;
    max-height: 400px;
  }
  
  #ven-id {
    font-size: 15px;
    font-weight: bold;
  }
  
  #details-con {
    display: flex;
    flex-direction: column;
  }
  
  #ven-name,
  #email,
  #frmdte,
  #tdat,
  #etp,
  #evcl {
    margin: 2px 0;
    font-size: 15px;
  }
  
  #email:before {
    content: "Email: ";
  }
  
  #frmdte:before {
    content: "Start Date: ";
  }
  
  #tdat:before {
    content: "End Date: ";
  }
  
  #etp:before {
    content: "Event Type: ";
  }
  
  #evcl:before {
    content: "Event Class: ";
  }
  
  
  #sel{
    height: 10%;
    width: 8%;
    margin-left: 77%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(74, 203, 203);
    color: black;
    font-weight: bold;
    font-size: large;
  }
  #ven-ar{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: justify;
    
    height: 100%;
    width: 100%;
    margin-left: -24%;
    border-color: solid black 2px;
  }
  #fdp{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: justify;
    
    height: 100%;
    width: 100%;
    margin-left: -10%;
    border-color: solid black 2px;
  }
  #mul-images{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: justify;
    margin-top: 10%;
    height: 100%;
    width: 58%;
    display: flex;
    
    flex-direction: column;
    border-color: solid black 3px;
  }

  #con{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: justify;
    margin-top: 10%;
    height: 100%;
    width: 100%;
    margin-left: -25%;
    border-color: solid black 2px;
  }
  #desc-ev{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: justify;
    margin-top: 10%;
    height: 100%;
    width: 100%;
    margin-left: -8%;
    border-color: solid black 2px;
  }
 
 